services:
  kafka:
    image: cdegroot/kafka:04a3654
    ports:
      - '9092:9092'
    volumes:
      - kafkadata:/data
      - kafkalogs:/logs
    environment:
      KAFKA_CREATE_TOPICS: "test_updates:2:1"

volumes:
  kafkadata: {}
  kafkalogs: {}
